@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
}
/*----------------
Head section style start 
----------------- */
.header{
background-color: #2D25A0;
margin-bottom: 70px;
}
/* navigtion bar style */
.navigation{
    width: 100%;
    margin-bottom: 20px;
}
.navigation-box{
    margin: auto;
    width: 80%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}
.navigasion-links{
    text-decoration: none;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

/* Head banner style */
.top-banner{
    display: flex;
}
.banner-name{
    font-size: 64px;
    font-weight: bold;
}
.half-width{
    width: 50%;
}
.banner-image{
    width: 90%;
    margin-left: 10%;
}
.bnner-text{
    margin-left: 7%;
    color: white;
}

/* ----------------
Head section style end 
----------------- */



/* --------------- 
Main section style start
----------------- */

/* player section style */
.containar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player-box{
    height: 474px;
    box-shadow: 0.1px 0.1px 40px rgba(172, 172, 172, 0.418);
    background: #FFFFFF;
    border-radius: 10px;
}
.player{
    width: 300px;
    height: 426px;
    margin: 15px;
}
.player-image{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}
.image-box{
    width: 300px;
    height: 256px;
    border-radius: 10px;
    overflow: hidden;
}
.player-box:hover .player-image{
    transform: scale(1.1);
    transition: transform 0.2s;
}
.name{
    font-size: 28px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #18191F;
}
.about{
    color: #6C6C6C;
    font-size: 16px;
}

/* Match section style  */
.highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}
.match-banner{
    width: 567px;
    height: 427px;
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 40px rgba(172, 172, 172, 0.418);
}
.match-detals{
    margin: 65px;
    margin-left: 0;
}
.match-highlight{
    display: flex;
    width: 1100px;
}
.match-name{
    font-size: 47px;
    font-weight: bold;
    margin: 0;
}
.match-about{
    font-size: 16px;
    color: #6C6C6C;
}
.match-link{
    width: 173px;
    height: 44px;
    background-color:#E02C6D;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.match-link:hover{
    background-color: #830030;
    transition: 0.3s;
}
/* ---------------
Main section end 
----------------- */



/* --------------- 
Footer section start 
----------------- */
.footer{
    margin-top: 158px;
    background-color: #2D25A0;
}
.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-image{
    width: 20%;
    height: 110px;
}
.socil-incon{
    color: white;
    font-size: 32px;
    margin: 0 0 0 15px;
}
.copy{
    font-size: 18px;
    margin-left: 5px;
    color: white;
}

/* --------------- 
Footer section end 
----------------- */
/* media qury  */

@media only screen and (max-width: 600px) {
    .header{
        height: 120%;
        }
    .top-banner{
        flex-direction: column;
    }
    .banner-name{
        font-size: 20px;
    }
    .banner-image{
        width: 60%;
    }
    .oder1{
        order: 2;        
    }
    .oder2{
        order: 1;
    }
    .options-link{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 25%;
    }
    .top-players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-highlight{
        flex-direction: column;
    }
    .match-name{
        font-size: 20px;
    }
    .high-l{
        width: 50%;
        padding-left: 30%;
    }
    .logo-image{
        width: 60%;
    }

}
    

